@import '../../styles/media-queries';

.main-menu {
  $menu: &;

  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;

  @include for-screen-up(1240) {
    font-size: 1.6rem;
  }

  &__list {
    gap: 1.6rem;
    display: flex;

    @include for-screen-up(1240) {
      gap: 3.2rem;
    }
  }

  &__list-item {
    display: flex;
    align-items: flex-start;

    &:hover {
      color: var(--link-color-hovered);

      #{$menu}__list-link {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__list-link {
    display: flex;
    align-items: center;
    position: relative;

    height: 8rem;

    color: var(--link-color);
    text-decoration: none;

    &:after {
      background: var(--bg-color-primary-blue);
      bottom: 0;
      content: '';
      height: 0.4rem;
      left: 0;
      right: 0;
      position: absolute;
      opacity: 0;
    }
  }
}
