.rating {
  &__star {
    color: #f57c00;
  }

  &__name {
    color: #212121;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
  }

  svg {
    display: block;
    fill: currentColor;
  }
}
