.button {
  align-items: center;
  background: #fff;
  border: 0.1rem solid #d6d9e0;
  border-radius: 2.4rem;
  color: #000;
  display: flex;
  height: 3.2rem;
  justify-content: center;
  width: 3.2rem;
}
