:root {
  --text-color-primary-white: #fff;
  --text-color-primary-black: #000;
  --text-color-primary: #162136;

  --link-color: #039be5;
  --link-color-hovered: #29b6f6;
  //--text-color-secondary: #8e96a4;

  --bg-color-primary-white: #fff;
  --bg-color-primary-blue: #28467f;
  --bg-color-primary-blue-hover: #0176ff;
  --bg-color-primary-blue-active: #0176ff;
  --bg-color-primary: #f4f5f8;

  --bg-color-primary-black: #000;

  --color-stroke-1: #d6d9e0;
}
