.rate {
  border: 0.4rem solid #1baf5d;
  border-radius: 50%;
  color: #162136;
  font-size: 1.4rem;
  font-weight: 700;
  height: 3.2rem;
  justify-content: center;
  width: 3.2rem;
  display: inline-flex;
  align-items: center;
}
