.typography {
  &_type {
    &-1 {
      font-size: 1.2rem;
      line-height: 1.3;
      font-weight: normal;
    }
    &-2 {
      font-size: 1.4rem;
      line-height: 1.5;
      font-weight: normal;
    }

    &-3 {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: normal;
    }
  }
}
