@import '../../styles/media-queries';

.table {
  width: 100%;
  table-layout: fixed;

  thead {
    th {
      border-bottom: 1px solid #a4a9b5;
      padding: 0.4rem 0;
      color: #747474;

      @include for-screen-up(1200) {
        padding: 1.6rem 4.8rem 1.6rem 0;
      }
    }
  }
  tbody {
    td {
      border-bottom: 1px solid #d6d9e0;
      padding: 0.8rem 0;

      @include for-screen-up(1200) {
        padding: 2.4rem 4.8rem 2.4rem 0;
      }
    }
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }
}
